
body{
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
}

/* Header */
header{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    display: block;
    padding: 10px 15px;
    transition: ease-in-out 0.1s;
}
/* Menu item hover */
.menu li a:hover{
    color: #B48560;
}

#theme-toggle{
    cursor: pointer;
    color: #B48560;
    font-size: 34px;
}

/* HERO */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    width: 100%;

}
/* the horizontal line above name */
.upper_line{
    content: "";
    width: 190px;
    height: 10px;
    background-color: #B48560;
}
/* My name */
.hero h1{
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
/* Subtitle of the hero section */
.hero h2{
    margin: 0;
    font-weight: 300;
}

/* Brown ampersand */
.brown_and{
    color: #B48560;
    font-weight: 600;
}

/* ABOUT */
.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* heading */

.heading{
    width: 100%;
}

.heading h1{
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
}

.heading h1::before, .heading h1::after{
    content: "";
    height: 4px;
    background-color: #B48560;
    display: block;
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    gap: 150px;
}
/* about img */

.about-pic{
    width: 254px;
    height: 386px;
    overflow: hidden;
    position: relative;
    
}
.about-pic img{
    position: relative;
    width: 100%;
    display: block;
}
.about-pic svg{
    position:absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -2;
}
/* about paragraph */
.about-txt{
    width: 565px;
}

.about-txt p{
    font-size: 24px;
}

.about-socials{
    text-align: center;
}

.about-socials a{
    text-decoration: none;
    color: #000000;
    font-size: 74px;
    padding-right: 100px;
    transition: ease-in 0.1s;
}

.about-socials a:hover{
    color: #B48560;
}

/* My skills */

.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.skill{
    text-align: center;
}

.skill svg:hover{
    color: #B48560;
}

/* Projects */

.project_container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px;
}

.project{
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}

.project img{
    width: 415px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.project_descr{
    width: 50%;
}

.project_descr ul{
    list-style: none;
    display: flex;
}

.project_descr ul li i{
    font-size: 30px;
}

.buttons{
    display: flex;
    gap: 10px;
}
.buttons a{
    text-align: center;
    text-decoration: none;
    color: #B48560;
    background: transparent;
    width: 100px;
    padding: 5px 10px;
    border: 2px solid #B48560;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.buttons a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
